
<form #myFrm="ngForm">
    <div class="row">
      <div class="col-md-5">
        <label>
          <b>Current Password</b>
        </label>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <input matInput #id placeholder="Enter current password">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label>
          <b>New Password</b>
        </label>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <input matInput name="password" [(ngModel)]="ch.password" #password="ngModel" minlength="6" placeholder="Enter New Password">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label>
          <b>Confirm Password</b>
        </label>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <input matInput name="cpwd" [(ngModel)]="ch.cpwd" #cpwd="ngModel" placeholder="Re-Enter Password" required>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-8">
      <p>
        <input type="button" class="btn btn-primary btn-block" [disabled]="!myFrm.valid" (click)="update(id,myFrm)" value="Done">
      </p>
    </div>
  </div>