
  <div class="container" >
    <div class="row justify-content-center" >
      <div class="col-md-5">
        <!-- <div class="card mx-4" >
          <div class="card-body p-4"> -->
            <form #myfrm="ngForm" style=" border: 1px solid #888888 ;
            padding: 20px;
            box-shadow: 5px 10px 18px #888888;">
            
              <h4 align="center">Login</h4>
              <div class="form-group">
                User Id:
                <input type="text" #userid="ngModel" [(ngModel)]="reg.userid" name="userid" class="form-control"
                  required>
                <span *ngIf="userid.errors && (userid.touched || userid.dirty)" style="color:red">
                  <span [hidden]="!userid.errors.required">Userid Required ..</span>
                </span>
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input type="password" #password="ngModel" [(ngModel)]="reg.password" name="password" class="form-control"
                  required>
                <span *ngIf="password.errors&&(password.touched||password.dirty)" style="color: red">
                  <span [hidden]=!errors.password.required>Enter Password...</span>
                </span>
               
                <div class="col">
                  <font color="silver">
                      <a (click)="btnForgot()">Forgot Password?</a>
                  </font>
                  <!-- <button type="button" class="btn btn-link" (click)='fnforgetpass()'>Forgot password?</button> -->
                  <!-- <a routerLink="forgot"><p><font color="dark red">Forgot Password?</font></p></a> -->
                  </div>
              </div> <br> 
              <div align="center">
                <button type="submit" class="btn btn-info" (click)="btnclick(userid,password,myfrm)" style="width:45%;">Login</button>
                &nbsp;
                <button type="button" class="btn btn-success" (click)='fnsignup()' style="width:45%;">SignUp</button>
                &nbsp;&nbsp;
                
              </div>
            </form>
          <!-- </div>

        </div> -->
      </div>
    </div>
  </div>

<br>
<br>
<br>
<br>
<br>
                                        
<app-practice [arr]="pra" (arry)="btnarry($event)"></app-practice>