<!-- <h4 class="text-success"> A survey made simpler…</h4>

<p>
  In our day to day life, we come across several things that are eager to know about. Unic Sol’s survey application, Get Surv
  analyzes those simple products and services of a particular company by addressing their flaws that really helps them to
  improvise the workflow. Doing a survey is not an easy task and requires immense research and understanding. But being a
  part of it is worthy. One can participate in a survey and can win exciting prizes and reward points. Our Contact Us page
  or a live chat is an ultimate destination where users can ask to create the survey for specific products & services. Get
  Surv serves all the needs of a user through every possible solution and calculate them. The application clearly lists out
  the various topics of interest to actually begin with. Once survey is done, client report is generated and analyzed with
  the user reviews to best suit the market demands.
</p>
<img src="assets/img/om3.jpg" class="rounded-circle" alt="Cinque Terre" width="300" height="250" style="float:left">
<p class="text-success">
  <b>
    <h3>Our Main Roles</h3>
  </b>
localhost:4200/ **localhost:4200/ **</p>
<p ><b>1:</b>The application clearly lists out the various topics of interest to actually begin with. Once survey is done, client report
  is generated and analyzed with the user reviews to best suit the market demands.The application clearly lists out the various
  topics of interest to actually begin with. Once survey is done, client report is generated and analyzed with the user reviews
  to best suit the market demands.The application clearly lists out the various topics of interest to actually begin with.
  Once survey is done, client report is generated and analyzed with the user reviews to best suit the market demands.The
  application clearly lists out the various topics of interest to actually begin with. Once survey is done, client report
  is generated and analyzed with the user reviews to best suit the market demands.The application clearly lists out the various
  topics of interest to actually begin with. Once survey is done, client report is generated and analyzed with the user reviews
  to best suit the market demands.</p>
<br>
<br>
<p><b>2:</b>The application clearly lists out the various topics of interest to actually begin with. Once survey is done, client report
  is generated and analyzed with the user reviews to best suit the market demands.The application clearly lists out the various
  topics of interest to actually begin with. Once survey is done, client report is generated and analyzed with the user reviews
  to best suit the market demands.The application clearly lists out the various topics of interest to actually begin with.
  Once survey is done, client report is generated and analyzed with the user reviews to best suit the market demands.The
  application clearly lists out the various topics of interest to actually begin with. Once survey is done, client report
  is generated and analyzed with the user reviews to best suit the market demands.The application clearly lists out the various
  topics of interest to actually begin with. Once survey is done, client report is generated and analyzed with the user reviews
  to best suit the market demands.</p>
<br> -->
<label>
 

  <input type="file" name="image" #image="ngModel" ngModel (change)="img($event)">
</label>
<button (click)="btnsave()">submit</button>