<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mx-4" style="background-color: rgba(12, 59, 39, 0.5);">
        <div class="card-body p-4">
          <form #myFrm="ngForm">
            <div class="form-group">
                <label class="col-sm-4 col-form-label">Userid:</label>
                <input type="text" #userid="ngModel" [(ngModel)]="ch.userid" placeholder="Enter Userid" name="userid" required>
               
                <span *ngIf="userid.errors && (userid.touched || userid.dirty)" style="color:red">
                  <span [hidden]="!userid.errors.required">Userid Required ..</span>
                </span>
                <br>
                <label class="col-sm-4 col-form-label">Email Id:</label>
              <input type="text" #emailid="ngModel" [(ngModel)]="ch.emailid" placeholder="Enter Emailid" name="emailid" pattern="^[A-Za-z0-9.]{4,25}@[A-Za-z]{3,7}.[A-Za-z]{2,4}$" required><br/>
              <span *ngIf="emailid.errors && (emailid.touched || emailid.dirty)" style="color:red">
                <span [hidden]="!emailid.errors.required">Mailid Required ..</span>
                <span [hidden]="!emailid.errors.pattern">please enter valid emailid ..</span>
              </span>
              <br/>
             
               <input type="button" value="submit" (click)='btnsubmit(emailid,userid,myFrm)'>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>