<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4" style="background-color: rgba(12, 59, 39, 0.5);">
          <div class="card-body p-4">
            <form #myFrm="ngForm">
              <label>Firmname:</label>
              <input type="text" #firmName="ngModel" [(ngModel)]="firm.firmName" class="form-control" name="firmName"
                style="font-size:15px">
              <div class="form-group">
                <label>description:</label>
                <input type="text" #description="ngModel" [(ngModel)]="firm.description" class="form-control" name="description"
                  style="font-size:15px">
              </div>
              <div class="form-group">
                <label>Parent Firm:</label>
                <input type="text" #parentFirm="ngModel" [(ngModel)]="firm.parentFirm" class="form-control" name="parentFirm"
                  style="font-size:15px">
              </div>
              <div class="form-group">
                <label for="">Country:</label>
                <select class="form-control" required #country="ngModel" [(ngModel)]="name.country" (change)="getStates(country.value)"
                  name="country">
                  <option disabled>{{name.country}}</option>
                  <option *ngFor="let ucl of co" value="{{ucl.id}}">{{ucl.name}} </option>
                </select>
              </div>
              <div class="form-group">
                <label for="">State:</label>
                <select class="form-control" required #state="ngModel" [(ngModel)]="name.state" (change)="getCity(state.value)"
                  name="state">
                  <option disabled>{{name.state}}</option>
                  <option *ngFor="let ucl of s" value="{{ucl.id}}">{{ucl.nme}} </option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="">City:</label>
                <select class="form-control" required #city="ngModel" [(ngModel)]="name.city" name="city">
                  <option disabled>{{name.city}}</option>
                  <option *ngFor="let ucl of c" value="{{ucl.id}}">{{ucl.city}} </option>
                </select>
              </div>
  
              <div class="form-group">
                <label>Address:</label>
                <input type="text" #address="ngModel" [(ngModel)]="firm.address" class="form-control" name="address"
                  style="font-size:15px">
  
              </div>
  
              <div class="form-group">
                <label>ZipCode:</label>
                <input type="text" #zipCode="ngModel" [(ngModel)]="firm.zipCode" class="form-control" name="zipCode"
                  style="font-size:15px">
              </div>
              <div align="center">
                <button type="button" class="btn btn-primary" (click)="btnFirmUpdate(myFrm)" style="font-size:15px">Update</button>
              </div>
            </form>
          </div>
  
        </div>
      </div>
    </div>
  </div> -->


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4" style="background-color: rgba(12, 59, 39, 0.5);">
          <div class="card-body p-4">
            <form #myFrm="ngForm">
              <label>Firmname:</label>
              <input type="text" #firmName="ngModel" [(ngModel)]="firm.firmName" class="form-control" name="firmName"
                style="font-size:15px">
              <div class="form-group">
                <label>description:</label>
                <input type="text" #description="ngModel" [(ngModel)]="firm.description" class="form-control" name="description"
                  style="font-size:15px">
              </div>
              <div class="form-group">
                <label>Parent Firm:</label>
                <input type="text" #parentFirm="ngModel" [(ngModel)]="firm.parentFirm" class="form-control" name="parentFirm"
                  style="font-size:15px">
              </div>
              <div class="form-group">
                <label for="">Country:</label>
                <select class="form-control" required #country="ngModel" [(ngModel)]="name.country" (change)="getStates(country.value)"
                  name="country">
                  <option disabled>{{name.country}}</option>
                  <option *ngFor="let ucl of co" value="{{ucl.id}}">{{ucl.name}} </option>
                </select>
              </div>
              <div class="form-group">
                <label for="">State:</label>
                <select class="form-control" required #state="ngModel" [(ngModel)]="name.state" (change)="getCity(state.value)"
                  name="state">
                  <option disabled>{{name.state}}</option>
                  <option *ngFor="let ucl of s" value="{{ucl.id}}">{{ucl.nme}} </option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="">City:</label>
                <select class="form-control" required #city="ngModel" [(ngModel)]="name.city" name="city">
                  <option disabled>{{name.city}}</option>
                  <option *ngFor="let ucl of c" value="{{ucl.id}}">{{ucl.city}} </option>
                </select>
              </div>
  
              <div class="form-group">
                <label>Address:</label>
                <input type="text" #address="ngModel" [(ngModel)]="firm.address" class="form-control" name="address"
                  style="font-size:15px">
  
              </div>
  
              <div class="form-group">
                <label>ZipCode:</label>
                <input type="text" #zipCode="ngModel" [(ngModel)]="firm.zipCode" class="form-control" name="zipCode"
                  style="font-size:15px">
              </div>
              <div align="center">
                <button type="button" class="btn btn-primary" (click)="btnFirmUpdate(myFrm)" style="font-size:15px">Update</button>
              </div>
            </form>
          </div>
  
        </div>
      </div>
    </div>
  </div>