<head>
  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
  </style>

</head>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="red">
     <div class="row" align="center">
      <div class="col-sm-12">
        <carousel [interval]="2000">
          <slide>
            <img src="assets/img/k4.jpg " alt="first slide" style="width: 1100px ; height:300px">
          </slide>
          <slide>
            <img src="assets/img/k1.jpg" alt="second slide" style="width: 1100px; height: 300px">
          </slide>
          <slide>
            <img src="assets/img/k2.jpeg" alt="third slide" style=" width: 1100px; height: 300px">
          </slide>
          <slide>
            <img src="assets/img/k3.jpg" alt="fourth slide" style="width: 1100px;height: 300px">
          </slide>
        </carousel>

      </div>
    </div>
    
    <hr/>
   
    <div class="main">
      <div class="section section-images">
        <div class="container">
          <div class="row">
            <div class="row">
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step1.Register</h5>
                      <p class="card-text">Register and create your survey online with custom feedback forms using the easy GoSurvey
                          Form Builder.</p>
                      <a href="#" class="btn btn-primary">Go</a>
                    </div>
                    <img class="card-img-bottom" src="assets/img/l.png" alt="Card image" style="width: 70px; height: 80px">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step:2Collect Responses</h5>
                      <p class="card-text">Create your survey online with custom feedback forms using the easy GoSurvey
                          Form Builder.</p>
                      <a href="#" class="btn btn-primary">Go</a>
                    </div>
                    <img class="card-img-bottom" src="assets/img/step1.png" alt="Card image" style="width: 70px; height: 80px">
          
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Step:3 Analytics & Reports</h5>
                        <p class="card-text">Securely view survey responses online, export your data and ANALYZE trends
                            in real-time.</p>
                        <a href="#" class="btn btn-primary">Go</a>
                      </div>
                      <img class="card-img-bottom" src="assets/img/step2.png" alt="Card image" style="width: 70px; height: 80px">
            
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Step:4 Analytics&Reports</h5>
                          <p class="card-text">Securely view survey responses online, export your data and ANALYZE trends
                              in real-time.</p>
                          <a href="#" class="btn btn-primary">Go </a>
                        </div>
                        <img class="card-img-bottom" src="assets/img/step3.png" alt="Card image" style="width: 70px; height: 80px">
          
                      </div>
                    </div>
              </div>
              <hr>
            <div>
            <br>
            <br>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                  <img src="assets/img/s.jpg " width="300" height="200" alt="jjjsdjss" style="float: right">
                  <p>Data is safely stored in the app until the device is connected to the internet Offline Survey No
                    Internet connection is required while conducting surveys, data is safely stored in the app until
                    the device is connected to the internet Offline Survey No Internet connection is required while
                    conducting surveys, data is safely stored in the app until the device is connected to the internet
                    Offline Survey No Internet connection is required while conducting surveys, data is safely stored
                    in the app until the device is connected to the internet
                  </p>
                </div>
              </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                  <div class="container-fluid">
                    <img src="assets/img/r1.png " width="300" height="200" alt="jjjsdjss" style="float: left;">
                    <p>Data is safely stored in the app until the device is connected to the internet Offline Survey No
                      Internet connection is required while conducting surveys, data is safely stored in the app until
                      the device is connected to the internet Offline Survey No Internet connection is required while
                      conducting surveys, data is safely stored in the app until the device is connected to the internet
                      Offline Survey No Internet connection is required while conducting surveys, data is safely stored
                      in the app until the device is connected to the internet
                    </p>
                  </div>
                </div>
  
              </div>
              <br>
              <br>
              <br>
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-success"><b>Testimonials</b></h4>
                <hr>
                <p class="bg-white text-dark">Offline Survey
                  No Internet connection is required while conducting surveys, data is safely stored in the app until
                  the device is connected to the internet
                  Offline Survey
                  No Internet connection is required while conducting surveys, data is safely stored in the app until
                  the device is connected to the internet
                  Offline Survey
                  No Internet connection is required while conducting surveys, data is safely stored in the app until
                  the device is connected to the internet
                  Offline Survey
                  No Internet connection is required while conducting surveys, data is safely stored in the app until
                  the device is connected to the internet
                  Offline Survey
                  No Internet connection is required while conducting surveys, data is safely stored in the app until
                  the device is connected to the internet
                </p>
              </div>

            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
</div>